$solarized-red: #DC322F;
$solarized-orange: #CB4B16;
$solarized-text-color: #839496;
$solarized-light-bg: #FDF6E3;
$solarized-dark-bg: #002B36;

$flat-red: #C0392B;
$flat-light-bg: #ECF0F1;
$flat-text-color: #19191A;
$flat-black-color: #303135;
$flat-midnight-blue-color: #2C3E50;
