
@import "colors";

.skim-reader {
  position: relative;
  top: 30%;
  width: 100%;
}

.controls {
  margin-top: 20px;
  padding-left: 5%;
}

.wpm-label {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.5em;

  #wpm {
    font-weight: 500;
  }
}

.keyword {
  border-top: 2px solid $flat-text-color;
  border-bottom: 2px solid $flat-text-color;
  font-size: 2em;
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 600;
  color: $flat-text-color;


  span {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .first-half {
    width: 30%;
    text-align: right;
  }

  .key-letter {
    color: $solarized-orange;
  }
}

