
@import "colors";

.skim-reader {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
}

.controls {
  margin-top: 5%;
  width: 50%;
  padding-left: 5%;
}

.wpm-label {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.5em;

  #wpm {
    font-weight: 500;
  }
}

.keyword {
  border-top: 2px solid $flat-text-color;
  border-bottom: 2px solid $flat-text-color;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  font-size: 2em;
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 600;
  color: $flat-text-color;


  span {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .first-half {
    width: 20%;
    text-align: right;
  }

  .key-letter {
    color: $solarized-orange;
  }
}

