// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';

.main-page {
  position: relative;
}

.url-form {
  margin-top: 20px;

  .url-input {
    min-width: 250px;
  }

  &.bottom {
    color: $solarized-text-color;
    background-color: $flat-black-color;
  }
}

.recent-article-item {
  padding-top: 8px;

  .recent-article-btn {
  }
  .recent-article-link {
    font-size: 0.8em;
  }
}
