.main-page
  .jumbotron
    %h1 
      Read web articles 
      .main-word
        freakishly 
      fast

    .url-form
      = render partial: 'web_articles/form', flash: flash
    .url-form
      = render partial: 'documents/form', flash: flash

  #recent-articles
    = render partial: 'recent'

