.main-page
  .jumbotron
    %h1 
      Read web articles 
      .main-word
        freakishly 
      fast

    .url-form
      = render partial: 'form', flash: flash

  .recent-articles
    = render partial: 'recent'

